@model Projet.ViewModels.ClaimViewModel

@{
    ViewData["Title"] = "Modifier une Réclamation";
}

<h2>Modifier une Réclamation</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="ArticleId"></label>
        @if (User.IsInRole("Client"))
        {
            <select asp-for="ArticleId" class="form-control"  asp-items="ViewBag.Articles"></select>
        }
        else
        {
            <select asp-for="ArticleId" class="form-control" disabled asp-items="ViewBag.Articles"></select>
            <input type="hidden" asp-for="ArticleId" />

        }
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        @if (User.IsInRole("Client"))
        {
            <textarea asp-for="Description" class="form-control"></textarea>
        }
        else
        {
            <textarea asp-for="Description" class="form-control" readonly></textarea>
        }
    </div>

    <div class="form-group">
        <label asp-for="Status"></label>
        @if (User.IsInRole("Client"))
        {
            <input asp-for="Status" class="form-control" readonly />
        }
        else
        {
            <input asp-for="Status" class="form-control" />
        }
    </div>

    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a asp-action="Index" class="btn btn-secondary">Annuler</a>
</form>
